@(loggedIn: Boolean)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import helper._
@import securesocial.core.UsernamePasswordProvider
@import play.api.Play.current
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/content_index.js")"></script>
    <script src="@routes.Assets.at("js/signup.js")"></script>
}

@content._chrome("", scripts, loggedIn = loggedIn) {
    <div class="marketing">
        <div class="jumbotron intro-image">
            <div class="container">
                <h1>dabs.exchange</h1>
                <p class="subtitle">A bitcoin, dabs, and crypto currency exchange</p>
            </div>
        </div>

        <div id="beta-wrap">
                <div class="container" id="beta">
                    <div class="row detailed-points">
                        <div class="col-md-12">
                            <h3>Welcome to dabs.exchange!</h3>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="content">
        @if(!loggedIn){
            <div id="signup-wrap">
                <div class="text-center">
                    <form id="signup-form" class="form-inline" action="@controllers.routes.Registration.handleStartSignUp().absoluteURL(UsernamePasswordProvider.sslEnabled)" autocomplete="off" method="post">
                        @CSRF.formField
                        <div class="form-group sign-up-text">Sign up for dabs.exchange:</div>
                        <div class="form-group" id="email_field">
                            <label class="sr-only" for="email">@Messages("auth.signup.email1")</label>
                            <div class="controls">
                                <input id="email" name="email" value="" class="form-control" type="text" placeholder="@Messages("auth.signup.email1")">
                            </div>
                        </div>
                        <div class="form-group" id="email2_field">
                            <label class="sr-only" for="email2">@Messages("auth.signup.email2")</label>
                            <div class="controls">
                                <input id="email2" name="email2" value="" class="form-control" type="text" placeholder="@Messages("auth.signup.email2")">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" title="@Messages("auth.signup.createAccount")"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    </form>
                </div>
            </div>
        }

            <div id="ticker-wrap">
                <div class="container">
                    <div class="row">
                        <div id="big-tickers">
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    @request.flash.get("success").map { msg =>
                        <div class="alert alert-info">
                            @msg
                        </div>
                    }
                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-danger">
                            @Messages(msg)
                        </div>
                    }
                </div>
            </div>

        @if(!loggedIn){
            <div id="login-wrap">
                <div class="text-center">
                    <div class="form-inline">
                        <form action = "@routes.ProviderController.loginPost().url" autocomplete="off" method="POST">
                            @views.html.helper.CSRF.formField
                            <div class="form-group sign-up-text">Login to dabs.exchange:</div>
                            <div class="form-group" id="username_field">
                                <div class="controls">
                                    <input type="text" id="username" name="username" value="" placeholder="@Messages("auth.signup.email1")" class="form-control" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group" id="password_field">
                                <div class="controls">
                                    <input type="password" id="password" name="password" placeholder="@Messages("terminology.password")" class="form-control" autocomplete="off"/>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        }

            <div id="beta-wrap">
                <div class="container" id="beta">
                    <div class="row detailed-points">
                        <div class="col-md-12">
                            <p>Welcome to dabs.exchange. Signup and start trading with us. If you need help you can email us at <a href="#" class="hidden-email" data-name="support" data-domain="dabs.exchange">(Turn on javascript to show email address)</a>
                                .free to tell your frends about our beta :)
                        </div>
                    </div>
                </div>
            </div>



            <div id="beta-wrap">
                <div class="container" id="beta">
                    <div class="row detailed-points">
                        <div class="col-md-12">
                            <p>For more information, visit our project's github at <a href="https://github.com/dabsolutions/dabsxchange">https://github.com/dabsolutions/dabsxchange</a>.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="footerwrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <address>
                                <strong>Dabs.Exchange</strong><br>
                                <a href="#" class="hidden-email" data-name="contact" data-domain="dabs.exchange">(Turn on javascript to show email address)</a>
                            </address>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-right">
                            Copyright &copy; 2017-2018<br>
                            Powered by Dab Solutions
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="big-tickers-template" type="text/x-handlebars-template">
        {{#each this}}
        <div class="col-sm-3 col-md-2">
            <dl class="dl-horizontal dl-small">
                <dt><i class="glyphicon glyphicon-{{icon}}" style="color: {{color}};"></i></dt><dd class="big-ticker-pair">{{base}}/{{counter}}</dd>
                <dt>Last:</dt> <dd class="money">{{last}}</dd>
                <dt>Low:</dt> <dd class="money">{{low}}</dd>
                <dt>High:</dt> <dd class="money">{{high}}</dd>
                <dt>Vol:</dt> <dd class="money">{{volume}}</dd>
            </dl>
        </div>
        {{/each}}
    </script>
}
